body,html {
	margin:0px;
	height:100%;
	width:100%;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: 75% 25%; /* change to 50/50 split */
	grid-template-areas: 
	"header sidebar"
	"content sidebar"; /* swapped places */
}


.header {
	grid-area: header;
	padding:10px;
    background-color: #2F3020;
    color: #FFFFFF;
	font-size: 2em;
	font-family: "Garamond", serif;
}
.sidebar {
	grid-area: sidebar;
	padding:10px;
	padding-top: 20px;
    background-color: #596235;
    color: #FFFFFF;
	font-size: 1.5em;
	overflow: auto; /* allows the sidebar to overflow with a scrollbar */

}
.content {
	grid-area: content;
}

.sidebar-item {
    padding: 10px; /* adds inner padding */
    background:#2F3020; /* background color */
    margin: 5px; /* outer padding */
	cursor: pointer; /* change cursor to hand on hover */
	border-radius: 8px;
}

.leaflet-popup-tip {
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
}

/* change button color when hovering*/
.sidebar-item:hover {
	background:#A1AD6F
}
/* make button click*/
.sidebar-item:active {
	background:#A1AD6F;
	transform: translateY(4px);
  }
